__pycache__/
*.pyc
*.pyo
*.pyd
build/
*.spec
*.toc
*.zip
*.pkg
*.pyz
localpycs/
xref-*.html
warn-*.txt
nuffspoofer_backup.json
hwid_backup_v3.json
*.bat
build_exe.py
DESCRIPTION.txt
b/
b1/
b18/
b19/
b20/

